/* reset.css */

body{
	font-family: 'Noto Sans KR', sans-serif;
	margin:0;
}

h1,h2,h3,h4,h5,span,p,figure,dl,dd,dt{margin:0;}
ul,li{list-style: none; margin: 0; padding:0;}
a{text-decoration: none; color: #000;}
img{vertical-align: middle;}
table{border-collapse: collapse;}
*{box-sizing: border-box;}