@import url("reset.css");
@import "_mixin";

// font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

h3 {
    @include font-700(36px) {
        text-align: center;
    }
}

h4 {
    @include font-400(36px) {
        text-align: left;
    }
}

// -----------header-----------
.header-area {
    width: 100%;
    padding: 0 40px;

    @include flex() {
        align-items: center;
    }

    h1 {
        a {
            img {
                width: 100%;
            }
        }
    }

    .header-button-group {
        @include flex() {
            gap: 30px;
        }

        a {
            img {
                width: 100%;
            }
        }
    }

    .main-nav {
        text-align: center;

        h2 {
            @include font-700(45px) {
                letter-spacing: -0.15rem;
            }
        }

        nav {
            ul {
                @include flex() {
                    gap: 30px;
                }

                li {
                    @include font-400(18px);
                }

                li:hover {
                    border-bottom: 2px solid #000;
                    margin-bottom: -2px;
                }
            }
        }
    }

    @include mobile {
        display: none;
    }
}

.header-mobile {
    padding: 10px;

    @include flex() {
        justify-content: space-between;
        align-items: center;
    }

    a {
        width: 20px;
        height: 20px;

        img {
            width: 100%;
            vertical-align: top;
        }
    }

    h2 {
        letter-spacing: -0.1rem;

        @include mobile {
            font-size: 22px;
        }
    }

    // ---------search-----------
    .search-button {
        z-index: 2;
        img {
            width: 20px;
            height: 20px;
        }
    }

    .search-menu {
        z-index: 1;
        position: fixed;
        transform: translateX(-100%);
        transition: 0.5s;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        padding: 20px;

        div {
            margin: 40px 0;
        }

        .search-title {
            p {
                @include font-400(24px)
            }
        }

        .search-input {
            padding-bottom: 10px;
            border-bottom: 1px solid #000;
            @include flex();

            input {
                border-width: 0;
                outline: none;
            }

            button {
                width: 20px;
                height: 20px;
                border-width: 0;
                outline: none;
                background: url('../../imgs/ic-search.png');
                background-color: #fff;
                background-repeat: no-repeat;
            }
        }

        .search-recommend {
            p {}

            span {
                display: inline-block;
                margin-top: 20px;

                a {
                    opacity: 0.5;
                    padding: 5px 20px;
                    border: 1px solid #000;
                    border-radius: 40px;
                    transition: 0.5s;
                }

                a:hover {
                    color: #fff;
                    background-color: #000;
                }
            }

        }

    }

    .search-menu.active {
        transform: translateX(0%);
        display: block;
        z-index: 1;
    }

    // ----------burger----------
    .burger-button {
        width: 15px;
        height: 15px;

        position: relative;

        @include flex() {
            flex-direction: column;
            align-items: center;
        }

        p {
            width: 100%;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 0;
            transition: 0.5s;

            &:nth-child(1) {
                transform: translateY(-6px);
            }

            &:nth-child(3) {
                transform: translateY(6px);
            }
        }
    }

    .burger-button.active {
        z-index: 2;

        p:nth-child(1) {
            transform: rotate(45deg) translateY(0px);
        }

        p:nth-child(2) {
            display: none;
        }

        p:nth-child(3) {
            transform: rotate(-45deg) translateY(0px);
        }
    }

    .burger-menu {
        transform: translateX(120%);
        transition: 0.5s;

        position: fixed;
        top: 0; right: 0;
        z-index: 1;
        width: 70%;
        height: 100vh;
        background-color: white;
        padding: 60px 20px;

        .burger-menu-container {
            height: 100%;

            @include flex() {
                flex-direction: column;
                justify-content: space-between
            }

            .burger-menu-list {
                p {
                    @include font-400(18px);
                    padding-bottom: 8px;
                    border-bottom: 1px solid #000;
                }

                .menu {
                    @include flex {
                        align-items: center;
                    }

                    padding: 10px 0;

                    img {
                        width: 18px;
                        height: 18px;
                        opacity: 0.5;
                    }

                    img.active {
                        transform: rotate(180deg);
                    }
                }

                .sub {
                    display: none;
                }

                .sub.active {
                    display: block;
                    padding-bottom: 20px;

                    li {
                        a {
                            color: gray;
                            font-size: 14px;
                        }

                        padding-bottom: 10px;
                    }
                }
            }

            .user-icons {
                @include flex() {
                    justify-content: space-between;
                }

                a {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .burger-menu.toggle {
        display: block;
        transform: translateX(0%);
    }

    .burger-bg{
        z-index: 1;
        position: fixed;
        display: none;
        top: 0; left: -10px;
        width: 100vh; height: 100%;
        background-color: rgba(0,0,0,0.2);
        backdrop-filter : blur(20px);
    }


    .burger-bg.active{
        display: block;
    }

    display: none;

    @include mobile {
        display: flex;
    }
}

// -----------footer-----------
.footer-nav {
    @include mobile {
        display: none;
    }

    background-color: gainsboro;
    border-top: 1px solid #000;
    padding: 20px 0;
    @include font-400(14px);

    nav {
        max-width: 1540px;
        margin: auto;

        ul {
            display: flex;
            gap: 20px;
        }
    }
}

.footer-sub {
    @include mobile {
        display: none;
    }

    max-width: 1540px;
    margin: auto;
    padding: 40px 0;

    @include flex();

    .footer-sub-left {
        strong {
            @include font-400(14px);
        }

        p {
            padding-top: 10px;

            @include font-400(12px) {
                line-height: 2;
            }
        }
    }

    .footer-sub-right {
        @include flex() {
            gap: 10px;
        }

        a {

            p {
                width: 30px;
                height: 30px;
                background-color: gainsboro;
                border-radius: 100%;

                @include flex() {
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .sns-icons {}
}

.footer-mobile {
    display: none;

    @include mobile {
        display: block;
    }

    background-color: #fff;
    padding: 20px 0;
    text-align: center;

    strong {
        @include font-700(13px);
        display: block;
        padding-bottom: 3px;
    }

    p {
        @include font-400(10px);
        color: gray;
    }
}

// ----------- aside --------------
aside {
    opacity: 0;
    transition: 0.2s;

    div {
        width: 48px;
        height: 48px;
        background-color: gray;
        border-radius: 50%;
        position: fixed;
        right: 20px;
        bottom: 20px;

        svg {
            fill: #fff;
            transform: rotate(180deg);
        }
    }

    &.active {
        opacity: 1;
    }
}

//-----------observe-----------
.observe {
    opacity: 0;
    transform: translateY(20%);
    transition: 1s;
    @include mobile{
        transform: translateY(10%); 
    }
}

.observe.active {
    opacity: 1;
    transform: translateY(0);
}