@import "_common";

.header-mobile {
    background-color: #000;
    .brand-name {
        @include mobile{display:none;}
    }

    .burger-button p{
        background-color: #fff;
    }

    // -----burgur button-----
    .collection{
        background-color: #000 !important;
    }
// -----------------------
}

main {
    background-color: #000;
    color: #fff;

    article {
        padding: 40px 0;
        @include mobile{
            padding: 20px;
        }

        .mobile-title {
            display: none;
            @include mobile{
                display: block;
                @include font-400(18px);
            }
        }
        
        figure {
            padding: 80px 0;
            @include mobile{
                padding: 20px 0 40px 0;
            }

            margin: 0 auto;
            max-width: 1540px;

            img {
                width: 100%;
                @include mobile{
                object-fit: cover;
                    height: 600px;
                }
            }

            figcaption {
                padding-top: 40px;

                @include flex() {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                @include mobile{padding-top: 20px;}

                h4 {
                    @include font-400(40px);
                    @include mobile{font-size:16px;}
                }

                p {
                    text-align: center;
                    padding: 10px 0;
                    @include mobile{font-size:12px; width: 90%;}
                }

                a {
                    @include font-400(20px){
                        color: #000;
                    }
                    background-color: #fff;
                    padding: 5px 25px 7px 25px;
                    border-radius: 20px;
                    @include mobile{font-size:12px;}
                }
            }
        }
    }
}

