@import "_common";

.brand-name{
    @include mobile{
        display: none;
    }
}


.mobile-title {
    display : none;
    @include mobile{
        display: block;
        @include font-400(18px);
    }
}

.stories-main {
    margin: auto;
    max-width: 1800px;
    padding: 20px 0;

    @include mobile{display: none;}

    figure {
        img {
            width: 100%;
        }

        figcaption {
            p {
                margin-top: 20px;

                @include font-400(24px) {
                    text-align: center;
                }
            }
        }
    }
}

.stories-sub {
    margin: auto;
    max-width: 1540px;
    padding: 200px 0;

    @include mobile{
        padding: 20px;
    }

    figure {
        @include flex(){
            gap: 40px;
        }
        p{
            width: 100%;
            img {width: 100%;}
        }
        

        figcaption {
            width: 40%;
            padding: 40px 0;
            color: gray;

            @include mobile{
                width: 100%;
                padding: 0;
            }

            @include flex(){
                flex-direction: column;
                justify-content: flex-start;
                gap: 20px;
                @include mobile{gap: 0;}
            }

            h4 {
                color: #000;
                @include mobile{
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }

            strong {
                @include font-400(24px){
                    line-height: 1.2;
                }
                @include mobile{
                    font-size: 14px;
                    line-height: 1.5;
                }
            }

            p { @include mobile{font-size: 14px;}}
        }

        @include mobile{
            flex-direction: column;
            gap: 20px;
        }
    }
}

.more-stories {
    margin: auto;
    padding-bottom: 200px;
    
    @include mobile{
        padding : 20px;
    }

    h3 {
        font-weight: 400;
        letter-spacing: -0.1rem;
        @include mobile{
            font-size: 18px;
            letter-spacing: 0;
            text-align: left;
        }
    }

    .inner-stories {
        padding-top: 20px;

        @include flex(){
            justify-content: center;
            gap: 20px;
            @include mobile{gap:10px;}
        }

        .mobile-column-left{
            @include mobile{width: 64%;}
        }

        .mobile-column-right{
            @include flex{
                gap: 20px;
                @include mobile{
                    gap: 10px;
                    flex-direction: column;
                    width: 30%;
                }
            }
        }

        figure {
            width: 500px;

            @include mobile{
                width: 100%;
            }

            img {width : 100%;}
            figcaption {
                @include mobile{display: none;}

                h4 {
                    @include font-400(26px);
                    padding: 20px 0;
                }
    
                p {color: gray;}
            }
        }
    }
}